body {
    margin: 0;
    font-family: 'Arial', sans-serif;
}

#sideMenu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sideMenu a {
    padding: 15px 15px 15px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sideMenu a:hover {
    color: #f1f1f1;
}

#closeBtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#mainContent {
    transition: margin-left .5s;
    padding: 16px;
}

#openBtn {
    font-size: 30px;
    cursor: pointer;
    border-radius: 38px;
background: #6c5ed9;
box-shadow:  50px 50px 100px #5046a1,
             -50px -50px 100px #8876ff;
}

#dropArea {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

button, input {
    
    border-radius: 38px;
background: #6c5ed9;
box-shadow:  50px 50px 100px #5046a1,
             -50px -50px 100px #8876ff;
}
